.border{
    /*border-width: 4px;
    border-style:groove;
    border-color: aquamarine;

    border: 3px dashed aqua;*/

    border-top: 3px dashed black;
    border-left: 3px solid salmon;
    border-right: 3px inset black;
    border-bottom: 3px solid black;
    border-radius: 10px;
    border-top-right-radius: 20px;
}