.Background2{
   
   background-color: aliceblue; /*Para darle un color al fondo*/
    background-image: url(bg.jpg); /*Ponerle una imagen*/
    background-position: center; /*Ajustar la posicion de la imagen*/
    background-size: auto; /*Ajustar el tamaño de la imagen*/
    background-repeat: no-repeat; /* para repetir o no la imagen*/


    /*Manera de abreviar*/
   /* background: azure url(bg.jpg) no-repeat center;*/
}
