* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.section_input {
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  gap: 5%;
}

.seccion_padre {
  padding: 5px;
}

p {
  font-size: 20px;
}

h1 {
  color: cadetblue;
}

input {
  font-size: 20px;
  padding: 5px;
}

textarea {
  font-size: 20px;
  padding: 10px;
  width: 989px;
  height: 267px;
}

.div_textarea {
  padding-top: 5px;
}

.div-button {
  padding-top: 15px;
}

button {
  padding: 10px 25px;
  background-color: darkcyan;
  color: white;
  border: none;
  background-origin: content-box;
  font-weight: bold;
  border-radius: 10px;
}
