.titulo{
font-family: 'Times New Roman', Times, serif;
font-size: 60px;
}

.parrafo{
/*font-weight: bold;
font-style: italic;*/
font: italic normal 18px Arial ; /*Reducir codigo*/
text-align: justify; /*Justificar texto*/
text-align-last: auto; /*dar alineacion a la ultima linea*/
text-indent: 15px; /*Sangria*/
letter-spacing: 2px; /*espaciado entre letras*/
word-spacing: 2px;
line-height: 50px; /*el interlineado*/

}