/* h1::before {
  content: "";
  border: 3px solid black;
} */

/*h1::after {
  content: "";
  border: 1px solid brown;
}*/

/* h1::first-letter {
  color: brown;
  font-size: 72px;
} */

/* p::first-line {
  font-size: 25px;
  color: brown;
  text-transform: uppercase;
} */

/* p::selection {
  background-color: brown;
  color: aliceblue;
} */

/* input::placeholder {
  color: brown;
  font-size: 15px;
  text-align: left;
} */

/* input::file-selector-button {
  background-color: brown;
  color: white;
} */

body {
  background-color: rgba(228, 131, 250, 0.354);
}

.header_padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

a {
  text-decoration: none; /*ASI LE QUITO EL SUBRAYADO A LOS LINKS*/
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: brown;
  padding: 5px;
  border-radius: 10px;
}

ul {
  list-style: none; /*Se le quita los estilos de lista*/
  display: flex;
  gap: 25px;
}

nav {
  width: 25%;
}
